asgiref==3.3.1
cycler==0.10.0
Django==3.1.4
django-graphos==0.3.41
django-utils-six==2.0
kiwisolver==1.3.1
matplotlib==3.3.3
mysql-connector-python==8.0.22
mysqlclient==1.4.6
numpy==1.19.4
pandas==1.1.5
Pillow==8.0.1
protobuf==3.14.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
filetype==1.0.7
mpld3==0.5.2
scipy==1.5.4
seaborn==0.11.1
Pillow==8.0.1
plotly==4.14.3
pandas==1.1.5
numpy==1.19.4
cufflinks==0.17.3